<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Maily.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <Maily.Properties.Settings>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TreeWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="EditorWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Directory" serializeAs="String">
        <value>C:\Program Files (x86)\hMailServer\Data\aprnt.se</value>
      </setting>
    </Maily.Properties.Settings>
  </userSettings>
</configuration>